<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Demo</display-name>

  <servlet>
    <servlet-name>WebAppDemo3</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/showForm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/processForm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/processFormVersionTwo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/processFormVersionThree</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/student/showForm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/student/processForm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/customer/showForm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WebAppDemo3</servlet-name>
    <url-pattern>/customer/processForm</url-pattern>
  </servlet-mapping>

</web-app>
